body{
	overflow: hidden;
}
#left-section{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 92px;
	background: #0B5281;
}
.header .logo{
	display: block;
	text-align: center;
	padding: 11px 8px;
	font-size: 21px;
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header .logo:hover{
	text-decoration: none;
	color: #eee;
}
.user-info{
	background: rgba(0, 0, 0, 0.2);
	padding: 9px 13px 9px;
	position: relative;
}
.user-info a{
	display: block;
}
.arrow_box {
	position: relative;
	background: #fff;
	cursor: pointer !important;
}
.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #eee;
	border-width: 5px;
	margin-top: -8px;
	margin-left: 10px;
}
.user-info a img{
	width: 40px;
	background: #fff;
	height: 40px;
	border: solid 1px;
	border-radius: 100%;
	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu .nav li a{
	text-align: center;
	color: #fff;
	border-bottom: solid 1px #124774;
	padding: 16px 0px;
	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu .nav li a:hover{
	color: #2A6496;
}
.menu .nav li a i {
	font-size: 21px;
}
.menu .nav li a span{
	display: none;
	font-size: 12px;
	font-weight: bold;
}


	/*  right-section  */


#right-section{
	position: absolute;
	left: 92px;
	right: 0px;
	top: 0px;
	overflow-y: auto; 
	bottom: 0px;
}
#right-section .header {
	background: #fff;
	padding: 18px 25px;
	position: fixed;
	left: 92px;
	right: 0px;
	z-index: 9;
	box-shadow: 0px 0px 1px #444;
}
#right-section .header h5 {
	margin: 0px;
	font-size: 15px;
	font-weight: bold;
	color: #6B6B6B;
}
#right-section .form-container {
	padding: 0px 10px 5px;
	background: #eee;
	box-shadow: 0px 1px 1px #ddd;
}
.full{
	width: 100% !important;
}
.form-margin .form-group{
	margin-bottom: 15px;
}
.title{
	font-size: 15px;
	color: #6B6B6B;
	margin-bottom: 15px;
	margin-top: 20px;
}
.scrolled{
	overflow-y: auto; 
}
.main-data-container {
	margin-top: 53px;
}
.table-container{
	padding: 0px 10px 15px 10px;
}
.table-container fieldset {
	margin: 20px 15px;
	border: solid 1px #ddd;
}
fieldset .table{
	margin: 0px;
}
.head h4 {
	font-size: 15px;
	padding: 10px 15px;
	margin: 0px;
	background: #eee;
	margin-bottom: 17px;
	border-bottom: solid 1px #ddd;
	color: #6B6B6B;
}
.modal-xlg-scrl{
	max-height: 550px;
	width: 1100px;
	overflow-y: auto; 
}



   /*   Login container    */

.login-container{
	width: 400px;
	margin: 10em auto 0px;
}
.login-header h4{
	margin: 0px;
	background: #222;
	color: #fff;
	padding: 12px 20px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}


  /*  Dashboard  */


.box-container {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 1px 3px #C9C9C9;
	margin: 20px 0px 15px;
	position: relative;
}
.box-container i {
	font-size: 35px;
	width: 86px;
	height: 68px;
	text-align: center;
	top: 0px;
	line-height: 68px;
	color: #fff;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.box-container i.blue{
	background: #0B5281;
}
.box-container i.orange{
	background: #D73737;
} 
.box-container i.green{
	background: #8FC635;
}
.box-container i.yellow{
	background: #CBC937;
}
.box-container .text-area{
	padding: 4px 10px 5px 95px;
	height: 68px;
}
.box-container .text-area span{
	color: #8C8A8A;
	margin-top: 2px;
	display: block;
}
.box-container .text-area h4{
	margin-top: 4px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}


    /*  User profile   */


.user-profile img{
	width: 130px;
	height: 130px;
	background: #fff;
	border-radius: 100%;
	padding: 9px;
	margin: 20px 0px;
}