header{
	background: #fff;
	border-top: solid 8px #085485;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}
header .logo{
	max-width: 450px;
	width: 100%;
}
header span{
	display: block;
}
.slider{
	position: relative;
}
.slider img{
	width: 100%;
}
.slider .caption {
	background: rgba(0, 0, 0, 0.46);
	position: absolute;
	left: 0px;
	z-index: 9;
	right: 0px;
	bottom: 45px;
	padding: 15px 25px 18px;
}
.slider .caption input ,.slider .caption .button{
	margin-bottom: 0px;
}
.slider .caption input{
	height: 31px;
}
.button.orange-button ,.button{
	background: transparent;
	font-size: 19px;
	padding: 0;
}
.button.orange-button:hover ,.button:hover,.button.orange-button:focus ,.button:focus{
	background: transparent;
	opacity: 0.9;
}
.slider span.fst, .slider span.scnd {
	position: absolute;
	right: 0px;
	top: 6.3em;
	background: rgba(9, 77, 124, 0.64);
	color: #fff;
	display: block;
	font-size: 33px;
	padding: 5px 55px 9px 40px;
	z-index: 9;
}
.slider span.scnd{
	padding: 5px 75px 9px 50px;
	top: 7.9em;
}
.text-container{
	padding: 20px 0px 0px;
}
.text-container .box-container{
	padding: 10px;
	background: #F1F1F1;
	margin: 0px 20px 20px;
	border: solid 1px #E0E0E0;
}
.text-container .box-container .img-container span{
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 100;
	margin-left: 5px;
}
.text-container .box-container .text-area{
	text-align: center;
	padding-top: 7px;
}
.text-container .box-container .text-area p{
	font-size: 14px;
	margin-bottom: 7px;
	color: #7C7C7C;
	padding: 0px 13px;
}
.text-container .box-container .text-area .button{
	margin-bottom: 0px;
	background: transparent;
	outline: none;
}
.hot{
	color: #128CB9;
}
.comp{
	color: #575759;
}
.blog{
	color: #FF9000;
}
.inter{
	color: #FF4949;
}
footer{
	background: #3389C1;
}
footer p{
	color: rgba(255, 255, 255, 0.92);
	line-height: 20px;
	font-size: 14px;
}
footer p span{
	display: block;
	padding: 7px 0px;
}
footer .main{
	margin-top: 20px;
	padding-left: 19px;
}
footer .main input{
	height: 32px;
}
footer .main ul li a{
	color: rgba(255, 255, 255, 0.92);
	font-size: 13px;
}
footer .main ul{
	list-style-type: none;
	margin-left: 0px;
}
.last{
	padding-left: 111px !important;
}
footer .title {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.94);
}
.footer-bottom {
	background: #0367A8;
	padding: 17px 0px;
	color: #fff;
	font-size: 13px;
	border-top: solid 1px #333;
	box-shadow: 0px 0px 3px #fff inset;
}
.footer-bottom .right-part{
	text-align: right;
}
.row{
	position: relative;
}
.emp-login{
	position: absolute;
	top: -16px;
	left: 0px;
	z-index: 9;
}
.user-view{
	position: absolute;
	top: -9px;
	right: 0px;
	z-index: 9;
}
.user-view-sess a img {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid;
    border-radius: 100%;
    height: 40px;
    transition: all 0.5s ease-in-out 0s;
    width: 40px;
} 
.emp-login img{
	cursor: pointer;
}
/*
.button.width-button{
	width: 123px;
}*/
.caption .last-button{
	padding-right: 0px;
}
.padding-none{
	padding: 0px;
}
.or-section{
	width: 50px;
	text-align: center;
}
.or-add{
	position: relative;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
}
.caption .caption-span{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}


/*  Login start  */

.login-container{
	padding: 0px 20px;
}
.login-container .title {
	text-align: center;
	margin-bottom: 35px;
	color: #085485;
	margin-top: 27px;
}
.sign-up-container .title {
	color: #085485;
	margin-bottom: 30px;
	position: relative;
	left: -41px;
}
.sign-up-container {
	margin: 0px 20px;
	padding: 0px 68px;
	border-left: solid 1px #ddd;
}
.login-container .button-holder ,.sign-up-container .button-holder{
	text-align: center;
}
.login-container .button-holder .button ,.sign-up-container .button-holder .button{
	padding: 0px;
	background: transparent;
}
.link{
	display: block;
	position: relative;
	font-size: 12px;
	color: #085485;
}
.link:hover{
	text-decoration: underline;
}
.or-border{
	border-bottom: solid 1px #ddd;
	text-align: center;
}
.or-border span {
	display: inline-block;
	background: #fff;
	font-size: 12px;
	top: 15px;
	position: relative;
	padding: 7px;
	color: #464646;
}
.login-data{
	top: 35px;
}
.gender{
	font-size: 16px;
	font-weight: bold;
	margin-right: 0px;
	color: #085485;
}

/*  login end  */

.banner-post{
	background: #2F2C2C;
	padding: 30px 0px;
}
.banner-post h4{
	color: #fff;
	font-weight: bold;
	font-size: 21px;
}
.banner-post .main{
	width: 400px;
	margin: auto;
}
.main .data-inner .icon-post{
	position: absolute;
	top: -12px;
}
.main .data-inner .text{
	padding-left: 86px;
}
.margin-container{
	margin: 30px 0px;
}
.text-container p{
	font-size: 15px;
	color: #999;
}
.text-container h4{
	color: #444;
	margin-bottom: 20px;
	margin-top: 0px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"]{
	height: 39px !important;
}
.formp{
	font-size: 14px;
}
.border-none{
	border-left: 0px;
	margin: 0px;
}
.left-pad{
	text-align: left !important;
	padding-left: 17%;
}
label span.check{
	font-size: 13px;
	position: relative;
	top: -1px;
	margin-left: 4px;
}
.required{
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	display: block;
	position: relative;
	top: -9px;
}
.info-data{
	font-size: 13px;
	display: block;
	line-height: 17px;
	margin-bottom: 19px;
	border-top: solid 1px #999;
	padding-top: 10px;
}



@media all and (max-width: 1200px){
	.slider span.fst, .slider span.scnd{
		top: 3.3em;
	}
	.slider span.scnd{
		top: 4.9em;
	}
	.sign-up-container .title{
		left: 0px;
		text-align: center;
	}
}

@media all and (max-width: 1050px){
	.sign-up-container {
		margin: 0px 0px;
		padding: 0px 0px;
		border-left: solid 0px #ddd;
	}
	.link{
		top: -12px;
		right: 0px;
		font-size: 12px;
		color: #085485;
	}
}
@media all and (max-width: 960px){
	.slider span.fst, .slider span.scnd{
		top: 2.3em;
	}
	.slider span.scnd{
		top: 3.9em;
	}	
}

@media all and (max-width: 820px){
	.slider span.fst, .slider span.scnd{
		top: 1.3em;
	}
	.slider span.scnd{
		top: 2.9em;
	}	
}

@media all and (max-width: 800px){
	.last{
		padding-left: 70px !important;
	}
}

@media all and (max-width: 745px){
	header .logo{
		max-width: 350px;
		width: 100%;
	}
	.img-container{
		text-align: center;
		margin-bottom: 11px;
	}
	.img-container img{
		display: block;
		margin: 0px auto 10px;
	}
	.last{
		padding-left: 19px !important;
	}
	.footer-bottom{
		text-align: center;
	}
	.footer-bottom .right-part{
		text-align: center;
		margin-top: 10px;
	}
	.slider .caption{
		bottom: 60px;
	}
	.sy-slide > a > img{
		height: 320px;
	}
	.slider .caption .columns{
		margin-bottom: 10px;
		text-align: center;
	}
	.slider span.fst, .slider span.scnd {
		display: none;
	}
	footer .main{
		padding: 0px 19px;
	}
	.button.width-button{
		width: 123px !important;
		padding: 4px 10px;
	}

}


@media all and (max-width: 640px){
	.slider .caption{
		bottom: -4px;
	}
	.emp-login{
		position: relative !important;
	}
	.or-section{
		width: 100%;
	}
	.padding-none{
		padding: 0px 15px;
	}
	.left-pad{
		text-align: center !important;
		padding-left: 0px;
	}
}

@media all and (max-width: 450px){
	.banner-post .main{
		width: 100%;
		text-align: center;
	}
	.main .data-inner .icon-post{
		position: relative;
		top: 0px;
	}
	.main .data-inner .text{
		padding-left: 0px; 
	}
}

