<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internbuddy</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script src="js/vendor/modernizr.js"></script>
     <link rel="stylesheet" type="text/css" href="css/toaster.css"/>
    

  </head>
  <body>
    
    <header>
      <div class="row">
        <div class="emp-login">
          <img src="img/emp-button.png" data-reveal-id="myModal">
          <div id="myModal" class="reveal-modal medium login-data" data-reveal>
            <div class="form-container">
              <div class="row">
                <div class="large-5 columns">
                  <div class="login-container">
                    <h5 class="title">Login below with your email address.</h5>
                    <label>
                      <input type="text" placeholder="email">
                    </label>

                    <label>
                      <input type="password" placeholder="password">
                    </label>

                    <label for="checkbox1"><input id="checkbox1" type="checkbox"><span class="check">Keep me login in on this computer</span></label>
                    <label><a href="">Forgot Password?</a></label>
                    <label><a href="">Don't have a password?</a></label>

                    <div class="button-holder" style="margin-top:15px;">
                      <button class="button tiny"><img src="img/read-button.jpg"></button>
                    </div>

                    <h6 class="or-border">
                      <span>OR</span>
                    </h6>
                  </div>
                </div>
              
                <div class="large-7 columns">
                  <div class="sign-up-container">
                    <h4 class="title">Not a member?</h4>
                    <label>
                      <input type="text" placeholder="Firstname">
                    </label>

                    <label>
                      <input type="text" placeholder="Lastname">
                    </label>

                    <label>
                      <input type="text" placeholder="E-mail Address">
                    </label>

                    <label>
                      <input type="text" placeholder="Confirm E-mail Address">
                    </label>

                    <label>
                      <input type="password" placeholder="Password">
                    </label>

                    <label>
                      <input type="password" placeholder="Confirm Password">
                    </label>

                    <span class="gender">Gender :</span>
                    <input type="radio" name="gender" value="male" id="male"><label for="male">Male</label>
                    <input type="radio" name="gender" value="female" id="female"><label for="female">Female</label>
                        
                    <div class="button-holder">
                        <button class="button tiny"><img src="img/sign-up.jpg"></button>
                    </div>
                  </div>  
                </div> 
              </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>
        <div class="large-12 columns">
          <img src="img/logo1.jpg" class="logo">
        </div>
      </div>
    </header>
    
    <div class="slider slider-container">
    	<img src="img/slider.png">
    </div>

    <div class="banner-post">
    	<div class="row">
    		<div class="large-12 columns">
    			<div class="large-12 columns">
	    			<div class="main">
	    				<div class="data-inner">
    						<img src="img/icon_left.png" class="icon-post">
	    					<div class="text" ng-app="registerform">
	    						<h4>Start Posting Your Internships</h4>
		    					
		    					<a href="#"><img src="img/post-btn.jpg" data-reveal-id="firstModal"></a> 
		    					

		    					<div id="firstModal" class="reveal-modal small login-data" data-reveal ng-controller="freejobpost">
								  <div class="sign-up-container border-none">
				                    <h4 class="title">Employer Registration</h4>
				                    <P class="formp">Complete this simple form to sign up:</P>
				                    <span class="required">* Required</span>
                            <form ng-submit="postfreejob($event)">

                             <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
				                    <label>
				                      <input type="text" ng-model="free.employerid" placeholder="Employerid"/>
				                    </label>

				                    <label>
				                      <input type="text" ng-model="free.title" placeholder="Job Title *" />
				                    </label>

				                    <label >
				                      <select ng-model="free.categoryid">
                              
                              <option  ng-repeat="cat in activecategory.success" value="{{cat.id}}">{{cat.display_title}}</option>      
                              </select>
                              </label>

				                    <label>
				                      <input type="text" ng-model="free.city" placeholder="required at City" />
				                    </label>
                             <label>
                              <input type="text" ng-model="free.state" placeholder="State" />
                            </label>



                           <lable> 
                           Job Type<p>
                           <input type="radio" ng-model="free.hours" value="fulltime" name="jobtype" />Fulltime
                            <input type="radio" ng-model="free.hours" value="parttime" name="jobtype" />Parttime
                            </lable>
                            <label>
                              Compensation Plan<p>
                              <input type="radio" ng-model="free.compensation" value="paid" name="compensation" />Paid
                              <input type="radio" ng-model="free.compensation" value="unpaid" name="compensation" />Unpaid
                            </label>
                            <label>
                              <input type="text" ng-model="free.position_required" placeholder="position open" />
                            </label>
                            <label>
                            Set Your Priority Level
                            <p>
                              <input type="radio" ng-model="free.type" value="planning" name="priority" />planning 
                              <input type="radio" ng-model="free.type" value="Urgent" name="priority" />Urgent
                              <input type="radio" ng-model="free.type" value="major" name="priority" />major 
                              <input type="radio" ng-model="free.type" value="critical" name="priority" />critical
                            </label>
                            <label>
                              <textarea ng-model="free.description" placeholder="describe your post"> </textarea>
                            </label>

                             <label>
                             <textarea ng-model="free.requirements" placeholder="mention your requirements"></textarea>
                            </label>
                            <button type="submit">Post </button>
                            </form>  

				                    <span class="info-data">
				                    	By clicking "Register Now" you acknowledge that you have read and agree to our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.
				                    </span>
				                        
				                    <div class="button-holder">
				                        <button class="button tiny"><img src="img/register.jpg"></button>
				                    </div>
				                    <h5>Already have an account? <a href="">Login</a></h5>
				                  </div>
								  <a class="close-reveal-modal">&#215;</a>
								</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>	
    		</div>
    	</div>
    </div>
    
    <div class="text-container margin-container">
    	<div class="row">
    		<div class="large-12 columns">
    			<div class="large-12 columns">
    				<h4>INTERN COMPENSATION</h4>
    				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    			</div>	
    		</div>
    	</div>
    </div>

    <footer>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <div class="main">
            <h4 class="title">Contact manager</h4>
            <p>110 West Avenue<br>
            Miami Beach,FL33139<br>
            <span>+1-000-000-0000</span>
            info@internbuddy.com
            </p>
          </div>
        </div>

        <div class="large-4 medium-4 columns">
          <div class="main">
            <h4 class="title">Subscribe newsletter</h4>
            <p>For getting our latest news &amp; updatea sign up our newsletter and get updates directly in your mail!!!
            </p>
            <input type="text" placeholder="Your Email Id">
            <button class="button orange-button"><img src="img/sub-button.png"></button>
          </div>
        </div>

        <div class="large-4 medium-4 columns">
          <div class="main last">
            <h4 class="title">Website Links</h4>
            <ul>
              <li><a href="">&raquo; Home</a></li>
              <li><a href="">&raquo; About Us</a></li>
              <li><a href="">&raquo; Blog</a></li>
              <li><a href="">&raquo; Help</a></li>
              <li><a href="">&raquo; Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div class="footer-bottom">
      <div class="row">
        <div class="large-12 columns">
          <div class="large-6 columns">
            <span>2014 &copy; Internbuddy.com,All rights reserved.</span>
          </div>
          <div class="large-6 columns right-part">
            <span>Developed &amp; design by:Intellectual Boot</span>
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
  
    <script type="text/javascript" src="js/toaster.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>

  <script>
      $(document).foundation();
    </script>
    
  
  </body>
</html>
