<!doctype html>
<html  lang="en" >
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Internbuddy</title>
      <link rel="stylesheet" href="css/foundation.css" />
      <link rel="stylesheet" type="text/css" href="css/slippry.css"/>
      <link rel="stylesheet" type="text/css" href="css/custom.css"/>
      <link rel="stylesheet" type="text/css" href="css/toaster.css"/>
  </head>
  <body >
    
    <header>
      <div class="row">
        <div class="emp-login">
          <img src="img/emp-button.png" data-reveal-id="myModal">
          <div id="myModal" class="reveal-modal medium login-data" data-reveal>
            <div class="form-container">
              <div class="row">
                <div class="large-5 columns">
                  <div class="login-container">
                    <h5 class="title">Login below with your email address.</h5>
                    <label>
                      <input type="text" placeholder="email">
                    </label>

                    <label>
                      <input type="password" placeholder="password">
                    </label>

                    <label for="checkbox1"><input id="checkbox1" type="checkbox"><span class="check">Keep me login in on this computer</span></label>
                    <label><a href="">Forgot Password?</a></label>
                    <label><a href="">Don't have a password?</a></label>

                    <div class="button-holder" style="margin-top:15px;">
                      <button class="button tiny"><img src="img/read-button.jpg"></button>
                    </div>

                    <h6 class="or-border">
                      <span>OR</span>
                    </h6>
                  </div>
                </div>
              
               <div class="large-7 columns" ng-app="registerform">
                  <div class="sign-up-container" ng-controller="registeruserdetail">
                    <h4 class="title">Not a member? {{2+2}}</h4>
                    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
                
                    <form ng-submit="userdata($event)">

                        <label>
                          <input type="text" name="firstname" ng-model="registeruser.firstname" placeholder="Firstname">
                        </label>

                        <label>
                          <input type="text" name="lastname" ng-model="registeruser.lastname" placeholder="Lastname">
                        </label>

                        <label>
                          <input type="text" name="email" ng-model="registeruser.email" placeholder="E-mail Address">
                        </label>

                        <label>
                          <input type="text" name="cemail" ng-model="registeruser.confirmemail" placeholder="Confirm E-mail Address">
                        </label>

                        <label>
                          <input type="password" name="password" ng-model="registeruser.password" placeholder="Password">
                        </label>

                        <label>
                          <input type="password" name="cpassword" ng-model="registeruser.confirmpassword" placeholder="Confirm Password">
                        </label>

                        <span class="gender">Gender :</span>
                        <input type="radio" name="gender" ng-model="registeruser.gender" value="male" id="male" ><label for="male">Male</label>
                        <input type="radio" name="gender" value="female" ng-model="registeruser.gender" id="female"><label for="female">Female</label>

                        <div class="button-holder">
                            <button class="" type="submit"><img src="img/sign-up.jpg" /></button>
                        </div>
                    </form>
                  </div>  
                </div> 
              </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>
        <div class="large-12 columns">
          <img src="img/logo1.jpg" class="logo">
        </div>
      </div>
    </header>
    
    <div class="slider">
      <!-- <img src="img/slide.jpg"> -->

      <ul id="demo1">
        <li><a href="#slide1"><img src="img/slide.jpg" ></a></li>
        <li><a href="#slide2"><img src="img/slide1.jpg" ></a></li>
        <li><a href="#slide3"><img src="img/slide2.jpg" ></a></li>
      </ul>

      <span class="fst">Your One Stop</span>
      <span class="scnd">Internship Shop</span>

      <div class="caption">
       
        <div class="row">
          <div class="large-6 medium-6 columns padding-none">
              <span class="caption-span">I'm serach by</span>
                <div class="large-6 medium-6 columns">
                  <input type="text" placeholder="Internship Keyword">
                </div>

                <div class="large-6 medium-6 columns">
                  <input type="text" placeholder="Major">
                </div>
          </div>

          <div class="large-6 medium-6 columns padding-none">
            <span class="caption-span left-pad">Location</span>
            <div class="large-6 medium-6 columns">
              <input type="text" placeholder="City, State, or Zip Code">
            </div>

            <div class="large-6 medium-6 columns last-button">
              <button class="button tiny orange-button width-button"><img src="img/search.png" style="width:166px;"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-container">
      <div class="row">
        <div class="large-6 medium-6 columns">
          <div class="box-container">
            <div class="img-container">
              <img src="img/hot.png">
              <span class="hot">Hot internship</span>
            </div>

            <div class="text-area">
              <p>Generate hours worked and wages payable in a singhle click Run Generate hours worked and wages payable in a singhle click Run Generate hours worked and wages .</p>
              <button class="button orange-button"><img src="img/read-button.png"></button>
            </div>
          </div>
        </div>

        <div class="large-6 medium-6 columns">
          <div class="box-container">
            <div class="img-container">
              <img src="img/comp.png">
              <span class="comp">Companies</span>
            </div>

            <div class="text-area">
              <p>Generate hours worked and wages payable in a singhle click Run Generate hours worked and wages payable in a singhle click Run Generate hours worked and wages .</p>
              <button class="button orange-button"><img src="img/read-button.png"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 medium-6 columns">
          <div class="box-container">
            <div class="img-container">
              <img src="img/blog.png">
              <span class="blog">Blog's post</span>
            </div>

            <div class="text-area">
              <p>Generate hours worked and wages payable in a singhle click Run Generate hours worked and wages payable in a singhle click Run Generate hours worked and wages .</p>
              <button class="button orange-button"><img src="img/read-button.png"></button>
            </div>
          </div>
        </div>

        <div class="large-6 medium-6 columns">
          <div class="box-container">
            <div class="img-container">
              <img src="img/interview.png">
              <span class="inter">interviews</span>
            </div>

            <div class="text-area">
              <p>Generate hours worked and wages payable in a singhle click Run Generate hours worked and wages payable in a singhle click Run Generate hours worked and wages .</p>
              <button class="button orange-button"><img src="img/read-button.png"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <div class="main">
            <h4 class="title">Contact manager</h4>
            <p>110 West Avenue<br>
            Miami Beach,FL33139<br>
            <span>+1-000-000-0000</span>
            info@internbuddy.com
            </p>
          </div>
        </div>

        <div class="large-4 medium-4 columns">
          <div class="main">
            <h4 class="title">Subscribe newsletter</h4>
            <p>For getting our latest news &amp; updatea sign up our newsletter and get updates directly in your mail!!!
            </p>
            <input type="text" placeholder="Your Email Id">
            <button class="button orange-button"><img src="img/sub-button.png"></button>
          </div>
        </div>

        <div class="large-4 medium-4 columns">
          <div class="main last">
            <h4 class="title">Website Links</h4>
            <ul>
              <li><a href="">&raquo; Home</a></li>
              <li><a href="">&raquo; About Us</a></li>
              <li><a href="">&raquo; Blog</a></li>
              <li><a href="">&raquo; Help</a></li>
              <li><a href="">&raquo; Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div class="footer-bottom">
      <div class="row">
        <div class="large-12 columns">
          <div class="large-6 columns">
            <span>2014 &copy; Internbuddy.com,All rights reserved.</span>
          </div>
          <div class="large-6 columns right-part">
            <span>Developed &amp; design by:Intellectual Boot</span>
          </div>
        </div>
      </div>
    </div>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
   
 <script src="js/foundation.min.js"></script>
 <script src="js/slippry.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
  
 <script type="text/javascript" src="js/toaster.js"></script>
 <script type="text/javascript" src="js/custom.js"></script>
 
  <script>
      $(document).foundation();
    </script>
    
    <script>
      $(function() {
        var demo1 = $("#demo1").slippry({
          transition: 'fade',
          useCSS: true,
          speed: 1000,
          pause: 3000,
          auto: true,
          preload: 'visible'
        });

        $('.stop').click(function () {
          demo1.stopAuto();
        });

        $('.start').click(function () {
          demo1.startAuto();
        });

        $('.prev').click(function () {
          demo1.goToPrevSlide();
          return false;
        });
        $('.next').click(function () {
          demo1.goToNextSlide();
          return false;
        });
        $('.reset').click(function () {
          demo1.destroySlider();
          return false;
        });
        $('.reload').click(function () {
          demo1.reloadSlider();
          return false;
        });
        $('.init').click(function () {
          demo1 = $("#demo1").slippry();
          return false;
        });
      });
    </script>
  
  </body>
</html>
