<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internbuddy</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <link rel="stylesheet" type="text/css" href="css/toaster.css"/>
    <script src="js/vendor/modernizr.js"></script>
    

  </head>
  <body ng-app="registerform">
    
    <header  >

      <div class="row">
        <div class="emp-login">
          <!-- <img src="img/emp-button.png" data-reveal-id="myModal"> -->
        
        </div>
        <div class="large-12 columns">
          <img src="img/logo1.jpg" class="logo">
        </div>
      </div>
    </header>


    <div class="admin-container clearfix" ng-controller="registereduser">
    	<div class="left-container">
	    	<div class="menu">
	    		<ul class="side-nav">
          <li><a href="index.html"><i class="icon-home10"></i> <span>Home</span></a></li>
           <li><a href="addcategory.html"><i class="icon-home10"></i> <span>Add Category</span></a></li>
          
          <li><a href="employers.html"><i class="icon-dashboard"></i> <span>Employe Register</span></a></li>
          <li><a href="jobpost.html"><i class="icon-users6"></i><span>Post Job</span></a></li>
          <li><a href="viewjobpost.html"><i class="icon-users6"></i><span>View Job Post</span></a></li>
          <li><a href="viewregistereduser.html"><i class="icon-store"></i> <span>View Jobs</span></a></li>
        </ul>
	    	</div>
	    </div>

	    <div class="right-container">
	    	<div class="inner-right">
	    	

	    		<div class="text-area-right" >
	    			
           
            

	    			<div class="row row-2" >
	    				<div class="large-12 columns">
              <div class="head">
	    					<h5 class="title">Registered User</h5>
                 <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
	    				</div>
              <table >
  <thead>
    <tr>
      <th width="200">First Name</th>
      <th>Last Name</th>
      <th width="150">Email</th>
      <th width="150">Phone</th>
      <th width="150">Company Name</th>
      <th width="150">Location</th>
      <th width="150">Role</th>
      <th width="150">Status</th>
       <th width="150">View Detail</th>

    </tr>
  </thead>
  <tbody ng-repeat="users in userlist.success">
    <tr>
      <td>{{users.firstname | uppercase}}</td>
      <td>{{users.lastname | uppercase}}</td>
      <td>{{users.email | uppercase}}</td>
      <td>{{users.phone | uppercase}}</td>
      <td>{{users.companyname | uppercase}}</td>
      <td>{{users.location | uppercase}}</td>
      <td>{{users.role | uppercase}}</td>

      <td ng-if="users.status=='active'">  <span class="success label">{{users.status | uppercase}}</span></td>

      <td ng-if="users.status=='deactive'"><span class="alert label">{{users.status | uppercase}}</span></td>

      <td ng-if="users.status=='pending'"><span class="warning label">{{users.status | uppercase}}</span></td>

      <td ng-if="users.status=='active'"><button  class="tiny" ng-click="activedeactivecat(users.status,users.id)">Deactive</button></td>

      <td ng-if="users.status=='deactive'"><button  class="tiny" ng-click="activedeactivecat(users.status,users.id)">Active</button></td>

      <td ng-if="users.status=='pending'"><button  class="tiny" ng-click="activedeactivecat(users.status,users.id)">Active</button></td>

      <td><button class="button tiny" data-reveal-id="myModal" ng-click="viewdetailofuser(users.id)">View Details</button></td>
    </tr>
   
  </tbody>
</table>

                    
	    				</div>
	    			</div>
	    		
	    	</div>
	    </div>
      </div>
       <div id="myModal" class="reveal-modal medium login-data" data-reveal>
            <div class="form-container">
              <div class="row">
                <div class="large-12 columns">
                  <div class="login-container">
                   <table>
  <thead>
    <tr>
       <th width="200">Key</th>
      <th>Details</th>
      
    </tr>
  </thead>
  <tbody ng-repeat="userdetail in userdetaillist.success">
    <tr>
      <td>First Name</td>
      <td>{{userdetail.firstname | uppercase}}</td>
      
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{userdetail.firstname | uppercase}}</td>
     
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{userdetail.gender | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Email</td>
      <td>{{userdetail.email | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Phone</td>
      <td>{{userdetail.phone | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Company Name</td>
      <td>{{userdetail.companyname | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Working Domain</td>
      <td>{{userdetail.domain | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Location</td>
      <td>{{userdetail.location | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Role</td>
      <td>{{userdetail.role | uppercase}}</td>
      
    </tr>

     <tr>
      <td>Status</td>
      <td>{{userdetail.status | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Role</td>
      <td>{{userdetail.role | uppercase}}</td>
      
    </tr>

  </tbody>
</table>
                  </div>
                </div>
              
                
              </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
          </div>
    </div>
    
   

    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
  
    <script type="text/javascript" src="js/toaster.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  <script>
      $(document).foundation();
    </script>
    
  
  </body>
</html>
