<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internbuddy</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <link rel="stylesheet" type="text/css" href="css/toaster.css"/>
    <script src="js/vendor/modernizr.js"></script>
    

  </head>
  <body ng-app="registerform">
    
    <header>

      <div class="row">
        <div class="emp-login">
        
        </div>
        <div class="large-12 columns">
          <img src="img/logo1.jpg" class="logo">
        </div>
      </div>
    </header>


    <div class="admin-container clearfix">
    	<div class="left-container">
	    	<div class="menu">
	    	  <ul class="side-nav">
          <li><a href="index.html"><i class="icon-home10"></i> <span>Home</span></a></li>
           <li><a href="addcategory.html"><i class="icon-home10"></i> <span>Add Category</span></a></li>
          
          <li><a href="employers.html"><i class="icon-dashboard"></i> <span>Employe Register</span></a></li>
          <li><a href="jobpost.html"><i class="icon-users6"></i><span>Post Job</span></a></li>
          <li><a href="viewjobpost.html"><i class="icon-users6"></i><span>View Job Post</span></a></li>
          <li><a href="viewregisteruser.html"><i class="icon-store"></i> <span>View Jobs</span></a></li>
        </ul>
	    	</div>
	    </div>

	    <div class="right-container" ng-controller="listpostedjob">
	    	<div class="inner-right">
	    		<div class="head">
	    			<h5>Posted Job List</h5>
	    		</div>
          <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
          <table>

  <thead >
    <tr>
      <th width="200">Employee Name</th>
      <th>Job Title</th>
      <th width="150">Job Category</th>
      <th width="150">Requirements</th>
      <th width="150">Responsiblities</th>
      <th width="150">Required At Location</th>
      <th width="150">Compensation</th>
      <th width="150">Hours</th>
      <th width="150">Position Required</th>
      <th width="150">Status</th>
      <th width="150">Toggle</th>
      <th width="150">View More</th>
    </tr>
  </thead>
  <tbody ng-repeat="jobs in postedjobs.success">
    <tr>
      <td><a href="#" data-reveal-id="myModal" ng-click="viewdetailofuser(id)">{{jobs.employerid}}</a></td>
      <td>{{jobs.title}}</td>
      <td>{{jobs.categoryid}}</td>
      <td>{{jobs.requirements}}</td>
      <td>{{jobs.responsiblities}}</td>
      <td>{{jobs.city}}</td>
      <td>{{jobs.compensation}}</td>
      <td>{{jobs.hours}}</td>
      <td>{{jobs.position_required}}</td>
      <td ng-if="jobs.status=='active'"><span class="success label">{{jobs.status}}</span></td>
      <td ng-if="jobs.status=='deactive'"><span class="alert label">{{jobs.status}}</span></td>
      <td ng-if="jobs.status=='active'"><button  class="tiny" ng-click="activedeactivecat(jobs.status,jobs.id)">Deactive</button></td>
      <td ng-if="jobs.status=='deactive'"><button  class="tiny" ng-click="activedeactivecat(jobs.status,jobs.id)">Active</button></td>
      <td><button class="tiny" ng-click="viewmoredetail()" data-reveal-id="viewdetail">View More</button></td>
    </tr>
    
  </tbody>
</table>	
<div id="myModal" class="reveal-modal medium login-data" data-reveal>
            <div class="form-container">
              <div class="row">
                <div class="large-12 columns">
                  <div class="login-container">
                   <table>
  <thead>
    <tr>
      <th width="200">Key</th>
      <th>Details</th>
      
    </tr>
  </thead>
  <tbody ng-repeat="userdetail in userdetaillist.success">
    <tr>
      <td>First Name</td>
      <td>{{userdetail.firstname | uppercase}}</td>
      
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{userdetail.firstname | uppercase}}</td>
     
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{userdetail.gender | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Email</td>
      <td>{{userdetail.email | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Phone</td>
      <td>{{userdetail.phone | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Company Name</td>
      <td>{{userdetail.companyname | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Working Domain</td>
      <td>{{userdetail.domain | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Location</td>
      <td>{{userdetail.location | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Role</td>
      <td>{{userdetail.role | uppercase}}</td>
      
    </tr>

     <tr>
      <td>Status</td>
      <td>{{userdetail.application_status | uppercase}}</td>
      
    </tr>
     <tr>
      <td>Role</td>
      <td>{{userdetail.role | uppercase}}</td>
      
    </tr>

  </tbody>
</table>
                  </div>
                </div>
              
                
              </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
          </div>  



         	
	    </div>
 <div id="viewdetail" class="reveal-modal medium login-data" data-reveal>
            <div class="form-container">
              <div class="row">
                <div class="large-12 columns">
                  <div class="login-container">
                   <table>
  <thead>
    <tr>
      <th width="200">Key</th>
      <th>Details</th>
      
    </tr>
  </thead>
  <tbody ng-repeat="info in userinformation.success">
    <tr>
      <td>Job Title</td>
      <td>{{info.title}}</td>
      
    </tr>
    <tr>
      <td>Employer Name</td>
      <td>{{info.employerid}}</td>
     
    </tr>
    <tr>
      <td>Job Type</td>
      <td>{{info.hours}}</td>
      
    </tr>
     <tr>
      <td>Compensation</td>
      <td>{{info.compensation}}</td>
      
    </tr>
     <tr>
      <td>Post Type</td>
      <td>{{info.post_type}}</td>
      
    </tr>
     <tr>
      <td>Status</td>
      <td ng-if="info.status=='active'"><span class="success label">{{info.status}}</span></td>
      <td ng-if="info.status=='deactive'"><span class="alert label">{{info.status}}</span></td>
      <td ng-if="info.status=='pending'"><span class="warning label">{{info.status}}</span></td>
    </tr>
     <tr>
      <td>Requirements</td>
      <td>{{info.requirements}}</td>
      
    </tr>
     <tr>
      <td>Urgency</td>
      <td>{{info.type}}</td>
      
    </tr>
     <tr>
      <td>Description</td>
      <td>{{info.description}}</td>
      
    </tr>


  </tbody>
</table>
                  </div>
                </div>
              
                
              </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
          </div>    

    </div>
    
    

    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
  
    <script type="text/javascript" src="js/toaster.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  <script>
      $(document).foundation();
    </script>
    
  
  </body>
</html>
