.admin-container {
	background: #3389C1;
	margin-top: 14px;
}
.left-container{
	width: 20%;
	float: left;
}
.left-container .menu .side-nav{
	padding-top: 0px;
}
.left-container .menu .side-nav li{
	margin-bottom: 0px;
}
.left-container .menu .side-nav li a{
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	padding: 0.7375rem 0.875rem;
	border-bottom: solid 1px #0F72A0;
}
.right-container{
	width: 80%;
	float: right;
	background: #fff;
	min-height: 350px;
}
.left-container .menu .side-nav li a i {
	font-size: 18px;
	margin-right: 14px;
	display: inline-block;
}
.left-container .menu .side-nav li a span {
	position: relative;
	top: -2px;
}
.right-container .head {
	background: #F3F3F3;
	padding: 14px 15px;
	border-bottom: solid 1px #E2E2E2;
	border-top: solid 1px #E2E2E2;
}
.right-container .head h5 {
	color: #696969;
	margin: 0px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}
.row-2{
	max-width: 68.5rem;
}
.right-container .text-area-right{
	padding-top: 15px;
}
.right-container .text-area-right table{
	width: 100%;
	border-collapse: collapse;
}
.right-container .text-area-right table tr td{
	font-size: 13px;
}
.right-container .text-area-right table tr td ,.right-container .text-area-right table tr th{
	color: #555;
}
.right-container .text-area-right .button{
	background-color: #008cba;
	border-color: #007095;
	margin-bottom: 0px;
}
.title{
	font-size: 19px;
	color: #666;
}




@media all and (max-width: 715px){
	.left-container .menu .side-nav li a span{
		display: none;
	}
	.left-container .menu .side-nav li a{
		text-align: center;
		padding: 1.2375rem 0.875rem;
	}
	.left-container .menu .side-nav li a i{
		font-size: 25px;
		margin-right: 0px;
	}
}