<!-- <div class="alert alert-success" role="alert" style="left: 93px;
    position: fixed;
    width: 100%;
    z-index: 9;"> 
  <a href="#" class="alert-link">...</a>
</div>-->
<div class="main-data-container" ng-controller="paymentPlanStory">
      





<div ng-if="paymentStory!='error' && paymentStory!='error'">

    <div class="table-container col-md-6" ng-repeat='paymentDetail in paymentStory'>
        <fieldset>
          <div class="row">
            <div class="col-lg-8">
              <div class="head">
                 <h4>{{paymentDetail.plan_name | uppercase}}</h4>
              </div>
               
            <table class="table table-hover" >
                  <thead>
                    <tr>
                     
                      
                    </tr>
                  </thead>
                  <tbody>
                   
                      <td rowspan='2'> 
                          
                         <tr> <center><h2>${{paymentDetail.plan_cost}}/{{paymentDetail.for_duration | uppercase}}</h2></center>
                         </tr>
                      </td>

                      <tr>
                           <td><h4> Payment Charge</h4></td>
                           <td><h4>{{paymentDetail.plan_cost}}</h4></td>
                      </tr>
                      <tr>
                            <td><h4>Job Allowed To Post</h4></td>
                            <td><h4>{{paymentDetail.job_for_cost}}</h4></td>
                      </tr>
                      <tr>
                            <td><h4>Valid For</h4></td>
                            <td><h4>1 {{paymentDetail.for_duration | uppercase}}</h4></td>
                      </tr>
                    
                      <tr> 
                      <td> <center>
                     Accept <input type="radio" name="selectplan" ng-model="planid.byPlan" value="{{paymentDetail.id}}">
                    </center>
                    </td>

                      </tr>


                  </tbody>
                
            </table>
            
          </div>
            </fieldset>
    </div>
     <center>
            <button class="btn btn-success " ng-disabled="planid.byPlan==null" ng-click="byThisPlan(planid)">Proceed For Payment</button> 
            </center>
</div>

<div ng-if="paymentStory=='noRecords'">
    <div class="table-container col-md-6" >
        no records
    </div>
</div>

<div ng-if="paymentStory=='error'">
    <div class="table-container col-md-6" >
            http error
    </div>
</div>

          
</div>
 