 <div class="table-container">
        
         <fieldset>
          <div class="container-fluid">
          <div class="row">
            <div class="head">
              <h4>Program Detail</h4>
            </div>
          </div><div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h4 class="title">Program Search</h4>
            </div>
          </div>
          <div class="row">
            <form class="form-inline form-margin" role="form">
              <div class="form-group col-lg-2 col-md-4">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control full" id="exampleInputEmail2" placeholder="Enter email">
              </div>
              <div class="form-group col-lg-2 col-md-4">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control full" id="exampleInputEmail2" placeholder="Enter email">
              </div>
              <div class="form-group col-lg-2 col-md-4">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control full" id="exampleInputPassword2" placeholder="Password">
              </div>
              <div class="form-group col-lg-2 col-md-4">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control full" id="exampleInputPassword2" placeholder="Password">
              </div>
              <div class="form-group col-lg-2 col-md-4">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control full" id="exampleInputPassword2" placeholder="Password">
              </div>
              <div class="button-holder col-lg-2 col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
        </fieldset>
        </div>
      </div>

      <div class="table-container">
        <fieldset>
          <div class="container-fluid">
          <div class="row">
            <div class="head">
              <h4>Program Detail</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>S.N</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </fieldset>
      </div>