<!-- <div class="alert alert-success" role="alert" style="left: 93px;
    position: fixed;
    width: 100%;
    z-index: 9;"> 
  <a href="#" class="alert-link">...</a>
</div>-->
<div class="main-data-container" ng-controller="paymentPlanStory">
      





<div ng-if="paymentStory!='error' && paymentStory!='error'">

    
    <div class="table-container col-md-3" ></div>  

    <div class="table-container col-md-6" style="margin-top: 219px;"> 
        <fieldset>
          <div class="row">
            <div class="col-lg-8">
              <div class="head">
                 <h4></h4>
              </div>
               
            
           <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    
  </div>
</div>
        <center>    
              <img src="img/payment.gif">
        </center>
        Please Wait While We Process Your Request,Do Not Reload/Refresh The Page.
  </div>
            </fieldset>
    </div>
    
</div>

<div ng-if="paymentStory=='noRecords'">
    <div class="table-container col-md-6" >
        no records
    </div>
</div>

<div ng-if="paymentStory=='error'">
    <div class="table-container col-md-6" >
            http error
    </div>
</div>

          
</div>
 