
<div  ng-controller="categoryrelated" >
 <div class="container-fluid">
 <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
             
          <div class="row">
           
           <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <div class="box-container">
                <i class="glyphicon glyphicon-briefcase orange"></i>
                <div class="text-area">
                  <span>Total Jobs Posted</span>
                  <h4>{{jobposted.length}}</h4>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <div class="box-container">
                <i class="glyphicon glyphicon-eye-open green"></i>
                <div class="text-area">
                  <span>Job Left</span>
                  <h4> {{planCurrentStatus.jobLeft}}</h4>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <div class="box-container">
                <i class="glyphicon glyphicon-time yellow"></i>
                <div class="text-area">
                  <span>Exprie On</span>
                  <h4>{{planCurrentStatus.validTill}}</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <div class="box-container">
                <i class="glyphicon glyphicon-envelope blue"></i>
                <div class="text-area">
                  <h5><strong>{{planCurrentStatus.message}}</strong></h5>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
 <div class="table-container">
        
         <fieldset>
          <div class="container-fluid">
          <div class="row">
            <div class="head">
              <h4>Post Job{{paymentStatus}}</h4>
            </div>
          </div><div class="container-fluid">
          <div class="row"  ng-show="paymentStatus=='NotDone' || miniStateMentResponse!='Yes'">
          <div class="alert alert-danger" role="alert" ng-if="paymentStatus=='NotDone'">You Haven't Buyed Any Plan.
             <a href="#buyPlan" ><button class="btn btn-success lg">Buy One</button></a>
          </div>

           <div class="alert alert-danger" role="alert" ng-if="miniStateMentResponse=='No'">      {{planCurrentStatus.message}}
             <a href="#buyPlan" ><button class="btn btn-success lg">Buy One</button></a>
          </div>

          </div>
         
          <div class="row"  ng-show="paymentStatus=='Done' && miniStateMentResponse!='No'">
      <p>

            <form ng-submit="postfreejob()">
            

               <div class="form-group col-lg-2 col-md-4">
                <input type="text"  class="form-control full" ng-model="free.title" placeholder="Job Title *"/>
              </div>
              <div class="form-group col-lg-2 col-md-4">
                  <select class="form-control full" ng-model="free.categoryid">
                       <option  ng-repeat="cat in categorylist.success" value="{{cat.id}}">{{cat.display_title | uppercase}}</option>      
                  </select>
              </div>
               <div class="form-group col-lg-2 col-md-4">
                <input type="text" class="form-control full" ng-model="free.city" placeholder="required at City"/>
              </div>

                <div class="form-group col-lg-2 col-md-4">
               <input type="text" class="form-control full" ng-model="free.state" placeholder="State" />
              </div>
                <div class="form-group col-lg-2 col-md-4">
                    <input type="radio"  ng-model="free.hours" value="fulltime" name="jobtype" />Fulltime
                     <input type="radio"  ng-model="free.hours" value="parttime" name="jobtype" />Parttime
                </div>
                <div class="form-group col-lg-2 col-md-4">
                 <input type="radio" ng-model="free.compensation" value="paid" name="compensation" />Paid
                 <input type="radio" ng-model="free.compensation" value="unpaid" name="compensation" />Unpaid
                </div>  
                <div class="form-group col-lg-2 col-md-4">
                <input type="text" class="form-control full" ng-model="free.position_required" placeholder="number of position open" />
                </div>  

                 <div class="form-group col-lg-2 col-md-4">
               
                 <select class="form-control full" ng-model="free.type">
                        <option  ng-model="free.type" value="urgent">Urgent</option> 
                        <option  ng-model="free.type" value="major">Major</option> 
                        <option  ng-model="free.type" value="critical">Critical</option>      
                 </select>
          
                </div>
                 <div class="form-group col-lg-2 col-md-4">
                 <textarea ng-model="free.description" placeholder="describe your post"> </textarea>
                 </div> 
                 <div class="form-group col-lg-2 col-md-4">
               
                 <textarea ng-model="free.requirements" placeholder="mention your requirements"></textarea>            
                  </div>



               <div class="form-group col-lg-2 col-md-4">
              <textarea  class="form-control full" ng-model="newcategory.description" placeholder="describe your category detail"></textarea>
              
              </div>
             
              <div class="large-2 medium-2 columns">
              <button class="btn btn-success" type="submit">Add</button>
              </div>
              </form>

       </p>       
          </div>
        </div>
        </fieldset>
        </div>

    

      <div class="table-container">
        <fieldset>
          <div class="container-fluid">
          <div class="row">
            <div class="head">
              <h4>Job</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                     <thead>
                  <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Requirements</th>
                   
                    <th>Location</th>
                    <th>City</th>
                    <th>Compensation</th>
                    <th>Status</th>
                    <th>Toggle</th>
                    <th>Updated On</th>
                    <th>More</th>
                  </tr>
                
                  </thead>

                  <tbody >
                    <tr ng-repeat="jobslist in jobposted">

                    <td>{{jobslist.title | uppercase}}</td>
                    <td>{{jobslist.categoryid | uppercase}}</td>
                    <td>{{jobslist.requirements | uppercase}}</td>
                   
                    <td>{{jobslist.required_at_location | uppercase}}</td>
                    <td>{{jobslist.city | uppercase}}</td>
                    <td>{{jobslist.compensation | uppercase}}</td>

                    <td ng-show="jobslist.status=='active'"><label class="label label-success">{{jobslist.status | uppercase}}</label></td>

                    <td ng-show="jobslist.status=='deactive'"><label class="label label-danger">{{jobslist.status | uppercase}}</label></td>

                    <td ng-show="jobslist.status=='active'"><button class="btn btn-danger" ng-click="activedeactivecatJob(jobslist.status,jobslist.id)" >Deactivate</button></td>
                    <td ng-show="jobslist.status=='deactive'"><button class="btn btn-success" ng-click="activedeactivecatJob(jobslist.status,jobslist.id)">Activate</button></td>
                    <td>{{jobslist.updated_at}}</td>

                    <td><button class="btn btn-info">Information</button></td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </fieldset>
      </div>
  </div>