<div class="main-data-container" ng-controller="catchDetail">
      <div class="form-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            	<div class="user-profile">
            		<img src="img/avatar.png">
            	</div>	
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            	<div class="box-container">
            		<i class="glyphicon glyphicon-briefcase orange"></i>
            		<div class="text-area">
            			<span>Total Jobs Posted</span>
            			<h4>0</h4>
            		</div>
            	</div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            	<div class="box-container">
            		<i class="glyphicon glyphicon-eye-open green"></i>
            		<div class="text-area">
            			<span>Total Job Viewed</span>
            			<h4>0</h4>
            		</div>
            	</div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            	<div class="box-container">
            		<i class="glyphicon glyphicon-send yellow"></i>
            		<div class="text-area">
            			<span>Total Refered</span>
            			<h4>0</h4>
            		</div>
            	</div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-container col-md-6">
        <fieldset>
          <div class="row">
            <div class="col-lg-8" ng-repeat="update in userDetail">
	            <div class="head">
	               <h4>Personel Detail</h4>
	            </div>
             <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
               <form ng-submit="updatepersonel()" >
               
                 <label for="exampleInputPassword1">First Name</label>
                <input type="text" class="form-control full"  ng-model="perupdate.firstname">
               
              <div class="form-group">
                <label for="exampleInputPassword1">Last Name</label>
                <input type="text" class="form-control"  ng-model="perupdate.lastname" >
              </div>
               <div class="form-group">
                <label for="exampleInputPassword1">Phone</label>
                <input type="text" class="form-control full" ng-model="perupdate.phone" >
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Location</label>
                <input type="text" class="form-control full" ng-model="perupdate.location" >
              </div>
             <button  class="btn btn-success" type="submit">Update</button>
             
            </form>


           
          </div>
          </div>
            </fieldset>
        </div>
         <div class="table-container col-md-6">
        <fieldset>
          <div class="row">
            <div class="col-lg-8">
              <div class="head">
                 <h4>Professional Detail</h4>
              </div>
               
           
            <form ng-submit="updateprofdetail()" ng-repeat="update in userDetail">
              <div class="form-group">
                <label for="exampleInputPassword1">Company Name</label>
                <input type="text" class="form-control" ng-model="perupdate.companyname" >
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Domain</label>
                <input type="text" class="form-control"ng-model="perupdate.domain" >
              </div>
              <button class="btn btn-success" type="submit">Update</button>
              </form>
            
          </div>
            </fieldset>
        </div>
      
      </div>
 