<div  ng-controller="categoryrelated" >
 <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <div class="box-container">
                <i class="glyphicon glyphicon-book blue"></i>
                <div class="text-area">
                  <span>Posted Jobs</span>
                  <h4>110</h4>
                </div>
              </div>  
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <div class="box-container">
                <i class="glyphicon glyphicon-facetime-video orange"></i>
                <div class="text-area">
                  <span>Recieve Applicants</span>
                  <h4>110</h4>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <div class="box-container">
                <i class="glyphicon glyphicon-globe green"></i>
                <div class="text-area">
                  <span>Total Views</span>
                  <h4>110</h4>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <div class="box-container">
                <i class="glyphicon glyphicon-stats yellow"></i>
                <div class="text-area">
                  <span>Total Books</span>
                  <h4>110</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
 <div class="table-container">
        
         <fieldset>
          <div class="container-fluid">
          <div class="row">
            <div class="head">
              <h4>Program Detail</h4>
            </div>
          </div><div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h4 class="title">Program Search</h4>
            </div>
          </div>
          <div class="row">
            This part needs some designed Boxes
          </div>
        </div>
        </fieldset>
        </div>

    

      <div class="table-container">
        <fieldset>
          <div class="container-fluid">
          <div class="row">
            <div class="head">
              <h4>List Of Applicants (temp)</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                     <thead>
                  <tr>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Toggle</th>
                    <th>Updated On</th>
                    <th>Know More</th>
                  </tr>
                </thead>
                    </tr>
                  </thead>

                  <tbody >
                    <tr ng-repeat="category in categorylist.success ">

                    <td>{{category.title | uppercase}}</td>
                    <td>{{category.name | uppercase}}</td>
                    <td>{{category.display_title | uppercase}}</td>
                    <td>{{category.description | uppercase}}</td>
                    <td ng-if="category.status=='active'"><label class="label label-success">{{category.status | uppercase}}</label></td>
                    <td ng-if="category.status=='deactive'"><label class="label label-danger">{{category.status | uppercase}}</label></td>
                    <td ng-if="category.status=='active'"><button class="btn btn-danger" ng-click="activedeactivecat(category.status,category.id)" >Deactivate</button></td>
                    <td ng-if="category.status=='deactive'"><button class="btn btn-success" ng-click="activedeactivecat(category.status,category.id)">Activate</button></td>
                    <td>{{category.updated_at}}</td>
                    <td><button class="btn btn-info">Information</button></td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </fieldset>
      </div>
        </div>